* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

form .mt-5 {
    margin-top: 15rem;
}

.cardWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    width: 700px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.error {
    color: red;
}

